@mixin mobile-sm {
    @media(max-width: 374px) and (min-width: 320px){
        @content
    }
};

@mixin mobile-md-lg {
    @media(max-width: 767px) and (min-width: 375px){
        @content
    }
};

@mixin tablet {
    @media(max-width: 900px) and (min-width: 768px){
        @content
    }
};