@use 'variables';
@use 'mixins';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: variables.$primary-color;

    header {
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;
        gap: 1em;
        background-color: variables.$secondary-color;
        align-items: center;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 0.5em;

        @include mixins.mobile-sm {
            grid-template-columns: 4fr 1fr;
            padding: 1.5em;
        }

        .logo{
            margin-left: 4em;

            @include mixins.mobile-sm {
                display: none;
            }

            img {
                background-color: variables.$primary-color;
                border-radius: 90px;
                padding: 0.5em;

                @include mixins.mobile-sm {
                    display: none;
                }
            }
        }

        .title {
            font-size: 1.5em;

            @include mixins.mobile-sm {
                font-size: 1em;
            }

            h1{
                color: variables.$tittle;
            }

            h2{
                color: variables.$sub-tittle;
            }
        }

        .login {
            text-align: center;

            button {
                background-color: variables.$secondary-color;
                border-color: variables.$text;
                border-radius: 20px;
                padding: 1px;

                img {
                    width: 50px;

                    @include mixins.mobile-sm {
                        width: 40px;    
                    }
                }
            }
        }
    }

    section {
        text-align: center;
        padding: 2em;
        font-size: 1.3em;

        h3 {
            color: variables.$tittle;
            margin-bottom: 0.5em;
        }

        .nid {
            p {
                margin-right: auto;
                margin-left: auto;
                width: 70%;
                color: variables.$text;
                text-align: left;
                text-align: justify;
            }
        }
    }

    footer {
        background-color: variables.$secondary-color;
        position: fixed;
        bottom:0;
        left:0;
        min-width: 100vw;
        color: variables.$text;

        #infos {
            padding: 1em;
            margin-left: 4em;

            #info {
                font-size: 1.2em;
                padding: 5px;
                gap: 0.5em;
            

                img {
                    width: 40px;
                }

                a {
                    text-decoration: none;
                    color: variables.$text;
                }
            }
        }
    }
}